{% extends "base.html" %}
{% load i18n %}
{% load sass_tags %}

{% block content %}
    <form class="form-register form-user-registration" method="post" action="/register">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-6">
                <div class="form-group">
                    <label for="first-name">{% trans "First name" %}</label>
                    <input type="text" class="form-control" id="first-name" placeholder="Arne">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="last-name">{% trans "Last name" %}</label>
                    <input type="text" class="form-control" id="last-name" placeholder="Lang Arm">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="form-group">
                    <label for="email">{% trans "Email" %}</label>
                    <input type="text" class="form-control" id="email" placeholder="arne@example.com">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="form-group">
                    <label for="username">{% trans "Username" %}</label>
                    <input type="text" class="form-control" id="username" placeholder="arne_lang_arm">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="form-group">
                    <label for="password">{% trans "Password" %}</label>
                    <input type="password" class="form-control" id="password">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="form-group">
                    <label for="password-check">{% trans "Password again" %}</label>
                    <input type="password" class="form-control" id="password-check">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="form-group custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="legal-agreed">
                    <label class="custom-control-label"
                           for="legal-agreed">{% trans "I agree to the terms of service and privacy policy" %}</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="form-submit">{% trans "Register" %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}